body {
	font-size: 25px;
}

body{
	padding: 1em;
}

body{
	background-color:;
}

h1 b{
		display: inline;
}

h1 b{
	line-height: 1px;
	font-weight: 100;
	font-size: 50px
}

h1 b{
	color: goldenrod;
}

.pota p{
	font-size: 30px;
	color: goldenrod;
}

.pino3{
	font-size: 50px;
}

.h2section1{
	color: goldenrod;
	line-height: 2;
	font-family: Georgia, cursive;
}

.foot{
	font-size: 20px;
	font-family: cursive;
}

.poro{
	margin: 30px;
}
/*
Call the following number if you want to make a purchase
*/